div#control-container {
    margin-top: 25px;

    @media all and (-ms-high-contrast: none) {
        *::-ms-backdrop,
        div#control-container {
            margin-top: 40px;
            float: none;
        }
    }

    div#central-control-container {
        width: 100%;

        div#central-controls {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;

            div#previous {
                display: inline-block;
                cursor: pointer;
            }

            div#play-pause {
                display: inline-block;
                cursor: pointer;
                & #pause {
                    display: none;
                }
            }

            div#next {
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    div#volume-container {
        width: 25%;
        float: left;
        padding-top: 20px;
    }

    margin-top: 20px;

    div.player-mute {
        cursor: pointer;
        width: 25px;
        height: 19px;
        float: left;
        & #mute {
            display: none;
        }
    }
}

div#control-container:after {
    content: "";
    display: table;
    clear: both;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    div#player div#volume-container {
        div.volume-controls {
            display: none;
        }
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div#player div#volume-container div.volume-controls {
        display: none;
    }
}
