div#control-container {
    margin-top: 20px;

    @media all and (-ms-high-contrast: none) {
        *::-ms-backdrop,
        div#control-container {
            margin-top: 40px;
            float: none;
        }
    }

    div#central-control-container {
        width: 100%;

        div#central-controls {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;

            div#previous {
                display: inline-block;
                cursor: pointer;
            }

            div#play-pause {
                display: inline-block;
                cursor: pointer;
                & svg {
                    display: none;
                }
                & .player-play-pause-active {
                    display: inline-block;
                }
            }

            div#next {
                display: inline-block;
                cursor: pointer;
            }
        }
    }
}
