div#player-left {
    padding: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";

    div#player-left-bottom {
        flex: 1;
        background-color: #000000;
        padding: 64px 44px;
    }
}

/* Small only */
@media screen and (max-width: 1023.9px) {
    div#player {
        div#player-left {
            width: 100%;
        }
        div#player-left-bottom {
            padding: 15px 10px;
        }
    }
}
