@import "../variables";

div#player-left {
    padding: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";

    p {
        text-transform: uppercase;
        text-align: center;
        color: $goldText;
        font-weight: 700;
        margin-bottom: 28.5px;
        line-height: 19px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 85.5px;
        }
    }

    div#player-left-bottom {
        flex: 1;
        background-color: #000000;
        padding: 24.5px 43.5px;
    }
}

/* Small only */
@media screen and (max-width: 1023.9px) {
    div#player {
        div#player-left {
            width: 100%;
        }
        div#player-left-bottom {
            padding: 24.5px 18px;
        }
    }
}
