.content-video {
    padding-top: 48px;
    padding-bottom: 58px;

    @media screen and (max-width: 1024px) {
        padding: 48px 5px 72px;
    }

    .swiper-video {
        padding-bottom: 30px;
    }

    p {
        margin-bottom: 39px;
        @media screen and (max-width: 1024px) {
            margin: 0 auto 24px;
        }
    }
    .video-wrapper {
        max-width: 640px;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            max-width: 480px;
        }
        @media screen and (max-width: 500px) {
            max-width: 350px;
        }
        .video-wrapper-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
