@import "./variables";

.content-footer {
    margin: 0 auto;
    padding: 50px 5px 46px;
    max-width: 370px;

    @media screen and (max-width: 1024px) {
        padding: 38px 5px 66px;
    }

    .copy {
        display: inline-block;
        color: $goldHeaders;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    svg {
        margin-top: 42.5px;
        margin-bottom: 48px;

        @media screen and (max-width: 1024px) {
            margin-top: 48px;
        }
    }

    img {
        display: block;
        margin: -4px auto 25px;
    }

    .content-footer-info {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 16px;

            width: 220px;
        }

        .content-footer-lic {
            margin-top: 1rem;
        }
    }
    .content-footer-mailto {
        display: inline-block;
        margin-top: 15px;

        a {
            color: $goldHeaders;

            &:hover {
                text-decoration: underline;
            }
        }

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 16px;

            width: 220px;
        }
    }
}
