@import "./variables";

.content-action {
    padding: 58px 0 40px;
    width: 737px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        display: block;
        width: 312px;
        padding: 40px 0;
    }

    .action-element {
        display: flex;
        margin: 0 auto;
        gap: 68px;

        a {
            order: 2;
            display: inline-block;
        }

        @media screen and (max-width: 1024px) {
            display: block;
        }

        .btn {
            @extend %btn;
        }

        p {
            width: 472px;
            text-align: left;
            order: 1;
            font-size: 21px;
            line-height: 27px;

            @media screen and (max-width: 1024px) {
                margin: 14px auto 0;
                width: 311px;
                text-align: center;
                margin-top: 14px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}
