@import "./variables";

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #6d022e;
    overflow: auto;
    transition: 0.5s ease;
    z-index: 1000;

    &.active {
        top: 0;
        opacity: 1;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        padding: 30px 0;

        h4 {
            text-align: center;
        }

        div {
            position: relative;
            display: flex;
            flex-direction: column;

            label,
            span {
                margin: 5px 0;
            }

            input,
            textArea {
                margin-bottom: 20px;
                background-color: #ffffffc4;
                border-radius: 3px;
                line-height: 1.25;
                padding: 3px;

                &#books {
                    width: 65px;
                }

                &#tel {
                    margin-bottom: 45px;
                }

                &:focus-visible {
                    outline: $goldHeaders solid 2px;
                    outline-offset: 1.5px;
                }

                &.error {
                    outline: red solid 2px;
                    outline-offset: 1.5px;
                }
            }
        }

        .form-error {
            position: absolute;
            color: red;
            bottom: -3px;
        }

        p {
            text-align: center;
        }
        button {
            margin: 25px auto;
            @extend %btn;
        }
    }
}
