$goldHeaders: #ffaa0d;
$goldText: #ffb500;

%btn {
    font-family: "Open Sans", sans-serif;
    width: 197px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
    box-shadow: 0px 4px 16px rgba(255, 181, 0, 0.47);
    border-radius: 12px;
    background-color: $goldText;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: #ffd265;
        box-shadow: 0px 4px 16px $goldText;
    }
}
