@import "./nullStyles";
@import "./initialStyles";
@import "./variables";
@import "./contentAbout";
@import "./contentVideo";
@import "./contentAction";
@import "./contentSlider";
@import "./contentFooter";
@import "swiper/scss/effect-fade";
@import "swiper/scss/autoplay";
@import "swiper/scss/pagination";
@import "./components/player";
@import "./components/player-left";
@import "./components/player-right";
@import "./components/controls";
@import "./components/time-container";
@import "./components/meta-container";
@import "./components/progress";
@import "./components/loader";

.content {
    text-align: center;
    min-width: 350px;

    &:nth-child(1) {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 192px;
            height: 147px;
            right: 0;
            z-index: 5;
            bottom: -25px;
            background: url("../../public/assets/ribbon.png") 100% 100%
                no-repeat;
            @media screen and (max-width: 1024px) {
                background: url("../../public/assets/ribbon_mobile.png") 100%
                    100% no-repeat;
            }
        }
    }
}
