@import "./nullStyles.scss";
@import "./initialStyles.scss";
@import "./contentAbout.scss";
@import "./contentVideo.scss";
@import "./contentAction.scss";
@import "./contentSlider.scss";
@import "./contentFooter.scss";
@import "swiper/scss/effect-fade";
@import "swiper/scss/autoplay";
@import "swiper/scss/pagination";

.content {
    text-align: center;
    min-width: 350px;

    &:nth-child(1) {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 192px;
            height: 147px;
            right: 0;
            z-index: 5;
            top: 223px;
            background: url("../../public/assets/ribbon.png") 100% 100%
                no-repeat;
            @media screen and (max-width: 1024px) {
                background: url("../../public/assets/ribbon_mobile.png") 100%
                    100% no-repeat;
            }
        }
    }
}
